@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body{
    margin: auto;
    padding: 0;
    background-image: url("../img/back_login.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
}
.login{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    width: 35%;
    margin-top: 8%;
    margin-left: 15%;
    padding-bottom: 2%;
}
.login input[placeholder]{
    font-family: 'Montserrat', sans-serif;
    font-size: 90%;
    color: #929292;
    font-weight: 500;
}
.login input{
    margin-top: 3%;
}
.check{
    display: flex;
    margin-left: 33%;
    margin-top: 2%;
    color: #686868;
    font-size: 90%;
    font-weight: 600;
}
.check input{
    margin-top: 3.5%;
}
.enjoy{
    background-color: #10C3F4;
    font-size: 90%;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    position: absolute;
    width: 21.2%;
    margin-left: -10.5%;
    padding: 0.8% 0 0.8% 0;
    margin-top: 1%;
}
.reg{
    padding-top: 10%;
}
.reg a{
    color: #10C3F4;
    font-weight: 400;
    font-size: 90%;
}
.social{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 17%;
    padding-top: 5%;
}
.languages{
    position: absolute;
    right: 2%;
    top: 9%;
    font-size: 85%;
    color: white;
    font-weight: 700;
}
.arrow{
    position: absolute;
}
.logo{
    width: 40%;
    padding-top: 5%;
}
.login_input{
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 5px;
    width: 60%;
    padding: 1.5% 0 1.5% 3%;
    outline: none;
    color: #4F4F4F;
    font-weight: 600;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    body{
        background-image: url("../img/mobile_login_back.png");
    }
    .arrow{
        top: 3%;
        margin-left: 2%;
        width: 10%;
        position: absolute;
    }
    .white_logo{
        position: absolute;
        right: 2%;
        top: 1%;
        width: 30%;
    }
    .languages{
        top: 6.5%;
    }
    .login{
        width: 95.5%;
        margin: auto;
        margin-top: 30%;
        padding-bottom: 4%;
    }
    .logo{
        width: 65%;
        margin-top: 7%;
    }
    .login_input{
        width: 95%;
        padding: 3% 0 3% 5%;
        margin-bottom: 1%;

    }
    .check{
        margin-left: 12%;
    }
    .check input{
        margin-top: 6%;
    }
    .enjoy{
        background-color: #10C3F4;
        font-size: 90%;
        font-weight: 600;
        color: white;
        border-radius: 10px;
        position: absolute;
        width: 92%;
        margin-left: -46%;
        padding: 4% 0 4% 0;
        margin-top: 1%;
    }
    .reg{
        padding-top: 15%;
    }
    .social{
        width: 35%;
        padding-top: 10%;
    }
}