@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body{
    margin: auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 75%;
}
.wrapper a{
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    height: 8%;
    color: #929292;
    font-size: 80%;
    align-items: center;
    border-bottom: 0.3px solid #D1D1D1;
    padding: 2% 0 2% 0;
}
.phones{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 92%;
}
.phones img{
    width: 13px;
    height: 13px;
}
.phones p{
    margin-top: 6%;
}
.time_set{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.time_set img{
    width: 13px;
    height: 13px;
}
.time_set p{
    margin-top: 6%;
}
.languages{
    display: flex;
    border-left: 1px solid #D1D1D1;
    align-items: center;
    height: 22%;
    color:#D1D1D1;
    font-weight: 700;
    padding-left: 1%;
}
.languages a{
    text-decoration: none;
    color: #D1D1D1;
}
.header input{
    width: 41%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #F4F4F4;
    padding: 1% 1% 1% 3%;
}
.header input[placeholder]{
    font-family: 'Montserrat', sans-serif;
    font-size: 92%;
    color: #929292;
    font-weight: 400;
    line-height: 15px;
}
.nav-bar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 1.3%;
    align-items: center;
}
.nav{
    display: flex;
    list-style-type: none;
    width: 47%;
    justify-content: space-between;
    margin-right: 16%;
    font-size: 75%;
    font-weight: 600;
}
.nav li{
    transition: 0.5s;
}
.nav li:hover{
    color: #10C3F4;
    transition: 0.5s;
}
.logo{
    width: 20%;
    margin-top: 0.7%;
}
.lk_button{
    border: 2px solid #10C3F4;
    box-sizing: border-box;
    border-radius: 10px;
    width: 16%;
    color: #10C3F4;
    font-weight: 600;
    font-size: 75%;
    padding: 1.2% 0 1.2% 0;
    text-align: center;
    text-decoration: none;
    transition: 1s;
}
.lk_button:hover{
    border: none;
    background: #10C3F4;
    color: white;
    transition: 1s;
}
.wrapper{
    margin: auto;
    width: 80%;
    padding-top: 1.2%;
}
.slider img{
    width: 1152px;
}
.services{
    margin-top: 7%;
}
.choose{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choose_type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    margin-left: 12%;
}
.choose_type p{
    font-size: 112.5%;
    font-weight: 500;
    color: #4F4F4F;
}
.tap_img{
    display: flex;
    align-items: center;
}
.tap_img img{
    width: 27px;
    height: 27px;
}
.tap_img p{
    font-size: 73%;
    font-weight: 400;
    color: #818181;
}
.services_suggests{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.services_suggests_nd{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.services_suggests_rd{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.suggest{
    width: 32%;
    border: 0.5px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 5px;
    padding-bottom: 11%;
    padding-top: 2%;
}
.suggest img{
    width: 25px;
    height: 25px;
    margin-top: -10%;
}
.cost{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    color: #4F4F4F;
    margin-left: 5%;
    width: 80%;
}
.cost_info{
    display: flex;
    align-items: center;
    font-size: 112.5%;
}
.cost_info p{
    margin-top: 10%;
}

.speed{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4%;
    font-weight: 500;
    margin-bottom: -1.5%;
    color: #4F4F4F;
    margin-left: 5%;
    width: 80%;
}
.speed_info{
    display: flex;
    align-items: center;
    font-size: 112.5%;
}
.suggest h4{
    color: #10C3F4;
    font-size: 150%;
    font-weight: 700;
    margin-left: 5%;
}
.suggest h5{
    color: #818181;
    font-weight: 500;
    line-height: 15px;
    width: 75%;
    font-size: 73%;
    margin-left: 5%;
    margin-top: 8%;
    margin-bottom: 11%;
}
.suggest p{

}
.connect_button{
    font-size: 73%;
    color: white;
    background: #10C3F4;
    border-radius: 10px;
    font-weight: 600;
    position: absolute;
    margin-top: 1.75%;
    width: 9.3%;
    margin-left: 1%;
    text-align: center;
    padding: 0.8% 0 0.8% 0;
    cursor: pointer;
    transition: 0.5s;
}
.connect_button:hover{
    border: 2px solid #10C3F4;
    background: white;
    color: #10C3F4;
    transition: 0.5s;
}
.information{
    margin-top: 6.8%;
}
.title{
    display: flex;
    align-items: center;
    font-size: 150%;
    font-weight: 500;
}
.title img{
    width: 29px;
    height: 29px;
}
.pos_news{
    display: flex;
    margin-left: 3%;
}
.news{
    background: #F9F9F9;
    border-radius: 10px;
    padding-bottom: 8%;
}
.new{
    margin-left: 3%;
    margin-top: 1.3%;
}
.new p{
    font-weight: 700;
    font-size: 112.5%;
    color: #4F4F4F;
}
.new a{
    font-weight: 500;
    font-size: 73%;
    color: #4F4F4F;

}
.date{
    margin-top: 0.4%;
    width: 4%;
}
.news_button{
    color: white;
    background: #10C3F4;
    border-radius: 10px;
    font-size: 73%;
    font-weight: 600;
    margin-left: 25%;
    margin-top: 1%;
    text-align: center;
    padding: 0.8% 0 0.8% 0;
    position: absolute;
    width: 10%;
    transition: 0.5s;
    cursor: pointer;
}
.news_button:hover{
    background: white;
    border: 2px solid #10C3F4;
    color: #10C3F4;
    transition: 0.5s;
}
.net_packet {
    background-image: url("../img/net_packet.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    color: #4F4F4F;
    padding-top: 1%;
    padding-bottom: 8.5%;
}
.net_packet h3{
    font-size: 225%;
    font-weight: 500;
    margin-left: 3%;
    margin-bottom: 1.3%;
    margin-top: 3.5%;
}
.net_packet p{
    font-size: 73%;
    font-weight: 500;
    width: 30%;
    margin-left: 3%;
}
.packets{
    margin-top: 6.8%;
}
.net_speed{
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-top: 3%;
}
.net_speed span{
    font-size: 110%;
}
.net_speed img{
    width: 25px;
    height: 25px;
}
.ip{
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-top: 1.5%;
}
.channels{
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-top: 1.5%;
}
.net_packet h1{
    font-size: 225%;
    margin-left: 3%;
    margin-top: 2.5%;
}
.enjoy_button{
    color: white;
    background: #10C3F4;
    border-radius: 10px;
    font-size: 73%;
    font-weight: 600;
    margin-left: 2%;
    margin-top: 0.7%;
    text-align: center;
    position: absolute;
    padding: 0.9% 0 0.9% 0;
    width: 9.2%;
}
.k_packet{
    background-image: url("../img/4k_packet.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 10%;
    padding-top: 1%;
    margin-top: 3%;
}
.prev a{
    text-decoration: underline;
}
.k_packet h3{
    font-size: 225%;
    font-weight: 500;
    margin-left: 3%;
    margin-bottom: 1.3%;
    color: white;
    margin-top: 4%;
}
.k_packet p{
    font-size: 73%;
    font-weight: 500;
    width: 30%;
    margin-left: 3%;
    color: white;
}
.channel{
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-top: 1.5%;
}
.amount{
    display: flex;
    align-items: center;
    margin-left: 3.3%;
    margin-top: 1.5%;
}
.k_packet h1{
    font-size: 225%;
    margin-left: 3%;
    margin-top: 7%;
    color: white;
}
.up_footer{
    display: flex;
    justify-content: space-around;
    font-size: 73%;
    font-weight: 700;
    color: #767676;
}
.seb{
    display: flex;
    justify-content: space-between;
}
.swebank{
    display: flex;
    justify-content: space-between;
}
.dis{
    display: flex;
    justify-content: space-between;
}
.money_check{
    display: flex;
    justify-content: space-between;
}
.footer{
    background: #F9F9F9;
    width: 80%;
    margin: auto;
    margin-top: 14%;
    padding-top: 2%;
    padding-bottom: 4%;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.down_footer{
    text-align: center;
    margin-top: 4%;
    color: #FF5C28;
    font-size: 73%;
}
.down_footer p{
    margin-top: 4%;
    margin-bottom: 2%;
}
.down_footer a{
    color: #FF5C28;
}
.prev{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}
.prev img{
    width: 8px;
    height: 8px;
}
.prev a{
    font-size: 73%;
    color: #979797;
}
.prev p{
    font-size: 73%;
    color: #363636;
}
.about_text{
    margin-top: 3%;
    width: 53%;
}
.about_text h1{
    color: #10C3F4;
    font-size: 150%;
    font-weight: 700;
}
.about_text p{
    font-size: 73%;
    margin-top: 5.5%;
    color: #686868;
    font-weight: 700;
    line-height: 15px;
}
.lux{
    display: flex;
    align-items: center;
    margin-top: 2.5%;
}
.lux h5{
    color: #818181;
    font-size: 73%;
    font-weight: 700;
}
.lux span{
    font-size: 73%;
    font-style: italic;
    color: #10C3F4;
    font-weight: 700;
}
.etc{
    margin-top: 14%;
}
.etc h5{
    color: #4F4F4F;
    font-size: 150%;
    font-weight: 400;
    margin-bottom: 3%;
}
.etc p{
    color: #686868;
    font-weight: 700;
    font-size: 73%;
    line-height: 15px;
}
.up{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
}
.down{
    display: flex;
    justify-content: space-between;
}
.up p{
    background: #F9F9F9;
    border-radius: 10px;
}
.down p{
    background: #F9F9F9;
    border-radius: 10px;
}
.contacts{
    margin-top: 9%;
}
.contacts h5{
    font-size: 150%;
    color: #4F4F4F;
    font-weight: 400;
}
.data_contacts{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 4%;
}
.data_contacts p{
    font-size: 73%;
    font-weight: 700;
    color: #686868;
    margin-top: 10%;
}
.phone{
    background: #F9F9F9;
    border-radius: 10px;
    width: 32.3%;
    padding: 3% 0 2% 0;
}
.email{
    background: #F9F9F9;
    border-radius: 10px;
    width: 32.3%;
    padding: 3% 0 2% 0;
}
.address{
    background: #F9F9F9;
    border-radius: 10px;
    width: 32.3%;
    padding: 3% 0 2% 0;
}
.up_content{
    display: flex;
    justify-content: space-between;
}
.tv{
    background-image: url("../img/tv_services.png");
    background-repeat: no-repeat;
    width: 49.6%;
    padding-bottom: 10%;
}
.net{
    background-image: url("../img/net_services.png");
    background-repeat: no-repeat;
    width: 49.6%;
}
.services_content{
    margin-top: 3%;
}
.up_content h1{
    color: #4F4F4F;
    font-size: 150%;
    margin-left: 3%;
    margin-top: 9%;
}
.up_content p{
    font-size: 75%;
    color: #4F4F4F;
    font-weight: 500;
    margin-left: 3%;
    margin-top: 4%;
    width: 46%;
}
.services_content button{
    color: white;
    font-size: 75%;
    font-weight: 600;
    background-color: #10C3F4;
    border-radius: 10px;
    margin-left: 3%;
    margin-top: 26%;
    width: 31%;
    height: 15%;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
}
.down_content{
    background-image: url("../img/plus_services.png");
    background-repeat: no-repeat;
    margin-top: -2.5%;
    padding-top: 4%;
}
.down_content h1{
    color: #4F4F4F;
    font-size: 150%;
    margin-left: 3%;
}
.down_content p{
    font-size: 75%;
    color: #4F4F4F;
    font-weight: 500;
    margin-left: 3%;
    margin-top: 2%;
    width: 38%;
}
.up_suggest{
    display: flex;
}
.down_suggest{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
}
.mobile_header{
    display: none;
}
.mobile_wrapper{
    display: none;
}
.mobile_services{
    display: none;
}
.mobile_information{
    display: none;
}
.mobile_packets{
    display: none;
}
.mobile_footer{
    display: none;
}
.support_form{
    background-image: url("../img/support_back.png");
    background-repeat: no-repeat;
    padding: 3% 0 7% 10%;
    margin-top: 5%;
}
.support_form h1{
    color: white;
    font-weight: 700;
    font-size: 185%;
    margin-bottom: 4%;
}
.support_form input{
    border: none;
    border-bottom: 2px solid #767676;
    background: none;
    outline: none;
    width: 40%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 90%;
    margin-top: 1%;
}
.support_form p{
    color: #A1A1A1;
    font-size: 100%;
    font-weight: 600;
}
.support_form div{
    display: flex;
    align-items: center;
}
.feedback{
    position: absolute;
    margin: 1% 0 0 30%;
    border-left: 2px solid #767676;
    padding-left: 1.5%;
    height: 44%;
}
.feedback textarea{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 90%;
    position: absolute;
    top: 0;
    resize: none;
    height: 100%;
    width: 1000%;
}
.feedback textarea[placeholder]{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 600;
    color: #A1A1A1;
}
.right_mobile_header{
    display: none;
}
.mobile_prev{
    display: none;
}
.mobile_initial{
    display: none;
}
.mobile_up_p{
    display: none;
}
.mobile_down_p{
    display: none;
}
@media screen and (min-width: 1000px) and (max-width: 1800px){
    body{
        width: 100%;
        overflow-x: hidden;
    }
}
@media all and (min-width:320px) and (max-width: 768px){
    body{
        width: 100%;
    }
    .header{
        display: none;
    }
    .nav{
        display: none;
    }
    .lk_button{
        display: none;
    }
    .logo img{
        width: 35%;
        position: absolute;
        top: 1%;
        left: 3%;
    }
    .right_mobile_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        margin-top: 3%;
        margin-right: -9%;
    }
    .prev{
        display: none;
    }
    .mobile_prev{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin-top: 10%;
        margin-left: 3%;
    }
    .mobile_prev img{
        width: 8px;
        height: 8px;
    }
    .mobile_prev a{
        font-size: 73%;
        color: #979797;
        text-decoration: underline;
    }
    .mobile_prev p{
        font-size: 73%;
        color: #363636;
    }
    .about_text{
        width: 95%;
        margin: auto;
        background-image: url("../img/mobile_about_back.png");
        background-repeat: no-repeat;
        background-position-y: 100%;
        background-size: 100%;
    }
    .about_text h1{
        font-size: 100%;
        margin-top: 7%;
    }
    .wrapper{
        width: 100%;
    }
    .about_back{
        display: none;
    }
    .initial{
        display: none;
    }
    .mobile_initial{
        display: flex;
        position: absolute;
        margin-left: 35%;
        margin-top: 18%;
    }
    .etc{
        width: 95%;
        margin: auto;
        margin-top: 35%;
    }
    .etc h5{
        font-size: 100%;
    }
    .up{
        flex-direction: column;

    }
    .up p{
        width: 95%;
    }
    .down{
        flex-direction: column;
    }
    .up_p{
        display: none;
    }
    .down_p{
        display: none;
    }
    .mobile_up_p{
        display: flex;
    }
    .mobile_down_p{
        display: flex;
    }
    .contacts{
        width: 95%;
        margin: auto;
    }
    .contacts h5{
        font-size: 100%;
    }
    .data_contacts{
        flex-direction: column;
    }
    .phone{
        width: 100%;
    }
    .email{
        width: 100%;
        margin-top: 3%;
    }
    .address{
        width: 100%;
        margin-top: 3%;
        margin-bottom: 15%;
    }
    .footer{
        width: 100%;
    }
}
